/* Inter from https://fonts.google.com/specimen/Inter and Rubik One from https://fonts.google.com/specimen/Rubik */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rubik+One&display=swap');

/* General Styles */
:root {
    
    /* Light/Dark mode implementated using CSS variables and a data attribute */
    /* Dark theme */
    &[data-theme="dark"] {
        --accent-color: #33CA7F;
        --background-color: #141414;
        --secondary-background-color: #525252;
        --secondary-background-color-rgb: 82, 82, 82;
        --tertiary-background-color: #272727;
        --primary-text-color: #fff;
        --secondary-text-color: #ccc;

        .theme-icon {
            content: url("../images/dark-theme.png");
            filter: brightness(0) saturate(90%) invert(64%) sepia(58%)
                    saturate(490%) hue-rotate(98deg) brightness(92%) contrast(91%);
        }

        .logo {
            filter: brightness(0) saturate(90%) invert(64%) sepia(58%)
                    saturate(490%) hue-rotate(98deg) brightness(92%) contrast(91%);
        }

    }

    /* Light theme */
    &[data-theme="light"] {
        --accent-color: #4C80F3;
        --background-color: #E0E0E0;
        --secondary-background-color: #fff;
        --secondary-background-color-rgb: 255, 255, 255;
        --tertiary-background-color: #EBEBEB;
        --primary-text-color: #000;
        --secondary-text-color: #666;

        /* Invert image colours for light theme */
        .theme-icon {
            content: url("../images/light-theme.png");
            filter: brightness(0) saturate(100%) invert(43%) sepia(77%) saturate(584%)
                    hue-rotate(186deg) brightness(97%) contrast(96%);
        }

        .logo {
            filter: brightness(0) saturate(100%) invert(43%) sepia(77%) saturate(584%)
                    hue-rotate(186deg) brightness(97%) contrast(96%);
        }
        
        .social-icon {
            filter: invert(1);
        }

        .arrow img {
            filter: invert(1);
        }

        .menu-image {
            filter: invert(1);
        }
    }
}


html, body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    overflow-wrap: anywhere;
    transition: all 1s; /* Smooth transition effect */
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    min-height: 100vh; /* Full height of the viewport */
    color: var(--primary-text-color);
}

/* Navigation Menu */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;

    @media (max-width: 800px) {
        margin-bottom: 100px;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 40px;

    /* Opaque background with blur effect */
    background-color: rgba(var(--secondary-background-color-rgb), 0.5);
    -webkit-backdrop-filter: blur(5px); /* Safari */
    backdrop-filter: blur(5px);

    width: 500px;
    position: fixed; /* Fixed position to keep menu at the top of the page */
    border-radius: 25px;
    top: 20px;
    z-index: 1000; /* Ensure the menu is on top of other elements */

    /* Responsive design (when screen size <= 800) */
    @media (max-width: 800px) {
        width: auto;
        align-items: flex-start;
        padding: 20px 20px;
        top: 15px;
        left: 15px;
        flex-direction: column; /* Change to vertical layout */
    }

    > .menu-image {
        display: none; /* Hide the menu toggle on larger screens */
        cursor: pointer;
        opacity: 0.8;
        width: 40px;
        height: 40px;

        &:hover {
            opacity: 1; /* Hover effect */
        }
        
        /* Show the menu toggle on smaller screens */
        @media (max-width: 800px) {
            display: block;
        }
    }

    > .menu-item {
        position: relative;
        top: 3px;
        font-size: 20px;
        color: var(--secondary-text-color);
        text-decoration: none;
        border-bottom: 3px solid transparent;
    
        @media (max-width: 800px) {
            display: none; /* Hide menu items on smaller screens until the menu toggle is clicked */
            font-size: 24px;
            margin-bottom: 20px;
        }
    }

    > .menu-item:hover, > .menu-item.active {
        color: var(--primary-text-color);
        border-bottom: 3px solid var(--accent-color); /* Underline effect for the active menu item */
    }
}

/* Footer */
footer {
    justify-self: flex-end;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: var(--secondary-background-color);
}

footer > .row {
    width: 800px;
    margin: 0 40px;
    overflow: auto;

    > p {
        flex: 2;
    }

    > * {
        margin: 15px;
    }
}

footer a {
    text-decoration: none;
    color: var(--primary-text-color);
    border-radius: 8px;
    padding: 5px 10px;

    &:hover {
        background-color: var(--tertiary-background-color); /* Change background colour on hover */
    }
}

.social-icon {
    width: 30px;
    height: 30px;
}

/* Dark/Light Theme Button */
.theme-button {
    position: fixed; /* Fixed position to keep the button at the top right of the page */
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;

    /* Opaque background with blur effect */
    background-color: rgba(var(--secondary-background-color-rgb), 0.5);
    -webkit-backdrop-filter: blur(20px); /* Safari */
    backdrop-filter: blur(20px);

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000; /* Ensure the button is on top of other elements */

    /* Place below navigation menu on certain screen sizes to prevent overlap */
    /* @media (min-width: 801px) and (max-width: 860px) {
        top: 80px;
    } */

    >.theme-icon {
        width: 32px;
        height: 32px;
    }
}

/* Additional General Styling */
.row {
    /* Flexbox row with center alignment */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    /* Turn into column on smaller screens for vertical layout */
    @media (max-width: 800px) {
        flex-direction: column;
    }

    /* Equal width for all children */
    > * {
        flex: 1;
    }
}

.column {
    /* Flexbox column with center alignment */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .left {
        align-self: flex-start;
    }
}

h1 {
    font-family: 'Rubik One', sans-serif;
    font-weight: bold;
    font-size: 80px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: var(--primary-text-color);
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-left: 40px;
    align-self: flex-start;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 0;
    margin-left: 30px;
    align-self: flex-start;
}

h4 {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    margin: 0;
    align-self: flex-start;

    > span {
        /* Accented text within h4 */
        font-weight: 400;
        color: var(--secondary-text-color);
    }
}

h5 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    text-align: right;
    color: var(--secondary-text-color);
    margin: 0;

    @media (max-width: 800px) {
        /* Align to the left on smaller screens */
        align-self: flex-start;
        /* If the h5 is a sibling of an h2 element, add margin to the left */
        h2+& {
            margin-left: 40px;
        }
    }
}

p > span, li > span {
    /* Accented text */
    font-weight: 600;
    color: var(--accent-color);
}

.row h5 {
    /* Shrink h5 with a row */
    flex: none;
}

ul {
    align-self: flex-start;
}

/* General Page */
#page, main {
    flex: 1;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 0 40px;
    margin-bottom: 40px;

    /* Responsive padding */
    @media (max-width: 800px) {
        padding: 0 20px;
    }
}

section {
    width: 100%;
}

/* Home Page */
#home {
    max-width: 800px;
}

.hello {
    flex: 2;
    display: flex;
    flex-direction: column;
    color: var(--accent-color);

    /* Staggered padding style for each h1 element on larger screens */
    @media (min-width: 801px) {
        h1:nth-child(1) {
            padding-left: 0;
        }

        h1:nth-child(2) {
            padding-left: 80px;
        }

        h1:nth-child(3) {
            padding-left: 160px;
        }
    }
}

.helloimage {
    border-radius: 50%;
    border: 4px solid var(--accent-color);
    width: 200px;
    height: 200px;
    object-fit: cover; /* Cover the entire container */
    display: block;
}

/* Resume Page */
#resume {
    max-width: 1000px;
    width: 100%;

    .logo {
        flex: none;
        width: 60px;
        height: 60px;
    }
}

.grid-container {
    display: grid;
    box-sizing: border-box;
    width: 100%;
    /* Responsive grid with a minimum width of 90px and a maximum width of 1fr */
    /* Automatically fill the grid with as many columns as possible */
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 40px 60px;
    padding: 20px;

    & p {
        text-align: center;
        font-weight: 600;
    }
}

.wider {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

/* Projects Page */
#projects {
    max-width: 1000px;

    .logo {
        width: 32px;
        height: 32px;
        padding-bottom: 10px;
    }

    & h2 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    & a {
        text-decoration: none;
        color: var(--primary-text-color);
        border-radius: 8px;
    }

    & a:hover {
        background-color: var(--tertiary-background-color); /* Change background colour on hover */
    }

    .tech-stack {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 800px) {
            flex-direction: column; /* Change to vertical layout on smaller screens */
        }
        
        > .filler {
            flex-grow: 1; /* Fill the remaining space */
        }

        > *:not(.filler) {
            /* Add margin between each element that is not a filler */
            padding: 10px 20px;
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    /* Gap between each project starting from the second project */
    & section:nth-child(n+2) {
        margin-top: 80px;
    }
}

#project1 {
    flex: 0.3;
}

.image-slider {
    --radius: 25px;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 10px 60px 50px 60px;

    .content {
        opacity: 0;
        border: none;
        object-fit: cover;
        max-width: 100%;
        max-height: 80vh;
        border-radius: var(--radius);
    }

    /* Place all images on top of each other */
    .content:first-child {
        position: relative;
    }
    
    .content:not(:first-child) {
        position: absolute;
    }

    /* Place arrows on top of the image */
    .arrow {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: absolute;
        top: calc(50% - 40px);
        cursor: pointer;

        &:hover {
            background-color: var(--accent-color);
        }

        &:active {
            opacity: 0.5;
        }

        & img {
            width: 100%;
        }
    }

    /* Position arrows */
    .left-arrow {
        left: -50px;
    }

    .right-arrow {
        right: -50px;
    }

    /* Place dots at the bottom of the image slider */
    .dots {
        display: flex;
        justify-content: center;
        gap: 10px;
        position: absolute;
        bottom: -50px;
        width: 100%;
        padding: 20px 0;

        .dot {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: var(--primary-text-color);
        }
        
        .active {
            background-color: var(--accent-color);
        }

        .dot:hover {
            cursor: pointer;
            background-color: var(--accent-color);
        }

        .dot:active {
            opacity: 0.5;
        }
    }
}

/* Testimonials Page */
#testimonials {
    width: 1000px;
}

.split-grid {
    display: grid;
    /* Two columns with a gap of 40px */
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    width: 100%;
    padding: 20px 0;

    /* One column on smaller screens */
    @media (max-width: 800px) {
        grid-template-columns: 1fr;
    }
}

.linear-grid {
    display: grid;
    /* One column with a gap of 40px */
    grid-template-columns: 1fr;
    gap: 40px;
    width: 100%;
    height: min-content;
}

.card {
    display: flex;
    flex-direction: row;
    height: min-content;
    border-radius: 25px;
    background-color: var(--secondary-background-color);
    padding: 15px;
    cursor: pointer;
    border: 2px solid transparent;

    @media (max-width: 800px) {
        flex-direction: column; /* Change to vertical layout on smaller screens */
    }

    &:hover {
        background-color: var(--tertiary-background-color); /* Change background colour on hover */
    }

    &.active {
        /* Highlight the selected card with a border */
        background-color: var(--tertiary-background-color);
        border: 2px solid var(--accent-color);
    }
    
}

.testimonial-image {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    display: block;

    @media (max-width: 800px) {
        /* Reduce the size of the image on smaller screens */
        width: 60px;
        height: 60px;
    }
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    line-height: 2;

    @media (max-width: 800px) {
        /* Reduce the margin on smaller screens */
        margin-left: 0;
    }
}

.testimonial {
    display: none;
    font-size: 20px;
    padding: 40px;
    border-radius: 25px;
    background-color: var(--tertiary-background-color);
}

/* Blog Page */
#blog {
    max-width: 1000px;

    /* Gap between each article starting from the second article */
    & article:nth-of-type(n+2) {
        margin-top: 80px;
    }

    .profile-image {
        flex: none;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        object-fit: cover;
        display: block;


        @media (min-width: 801px) {
            margin-left: 40px; /* Add margin to the left on larger screens */
        }
        
    }

    .blog-image {
        border-radius: 25px;
        width: 100%;
        height: 300px;
        object-fit: cover;
        display: block;
    }
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    @media (min-width: 801px) {
        margin-left: 40px; /* Add margin to the left on larger screens */
    }

    > p {
        margin: 5px 0;
    }
}

