
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rubik+One&display=swap');


:root {
    --accent-color: #9B70ff;
    --background-color: #141414;
    --secondary-background-color: #525252;
--tertiary-background-color: #272727;
    --primary-text-color: #fff;
    --secondary-text-color: #ccc;
}


html, body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    overflow-wrap: anywhere;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    background-color: var(--secondary-background-color);
    width: 700px;
    position: fixed;
    border-radius: 25px;
    top: 20px;
    z-index: 1000;
}

nav a {
    position: relative;
    top: 2px;
    font-size: 20px;
    color: var(--secondary-text-color);
    /* border-bottom: 3px solid transparent; */
    text-decoration: none;
}

nav a:hover, nav a.active {
    color: var(--primary-text-color);
    /* border-bottom: 3px solid var(--accent-color); */
    box-shadow: 0 3px 0 var(--accent-color);
}

footer {
    justify-self: flex-end;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    background-color: var(--secondary-background-color);
}

footer .row {
    width: 800px;
    padding: 0 40px;
    overflow: auto;
}

.social-icon {
    width: 30px;
    height: 30px;
}

footer a {
    text-decoration: none;
    color: var(--primary-text-color);
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media (max-width: 800px) {
    .row {
        flex-direction: column;
    }
}

.row > * {
    flex: 1;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Rubik One', sans-serif;
    font-weight: bold;
    font-size: 80px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-left: 40px;
    align-self: flex-start;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 0;
    margin-left: 30px;
    align-self: flex-start;
}

h4 {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    margin: 0;
    align-self: flex-start;
}

h4 span {
    font-weight: 400;
    color: var(--secondary-text-color);
}

h5 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    text-align: right;
    color: var(--secondary-text-color);
    margin: 0;
}

.row h5 {
    flex: none;
}

ul {
    align-self: flex-start;
}

#page {
    flex: 1;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 0px 40px;

    @media (max-width: 800px) {
        padding: 0px 20px;
    }

    margin-bottom: 40px;
}

#home {
    max-width: 800px;
}

/* Add your custom styles below */
.hello {
    flex: 2;
    display: flex;
    flex-direction: column;
    word-wrap: hidden;
}

@media (min-width: 801px) {
    .hello h1:nth-child(1) {
        padding-left: 0;
    }

    .hello h1:nth-child(2) {
        padding-left: 80px;
    }

    .hello h1:nth-child(3) {
        padding-left: 160px;
    }
}

.helloimage {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
}

#experience {
    max-width: 1000px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 90px);
    grid-auto-rows: auto;
    gap: 30px 60px;
    padding: 20px;

    .logo {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 800px) {
    .grid-container {
        grid-template-columns: repeat(2, 90px);
        gap: 40px 20px;
    }
}

.logo {
    object-fit: cover;
    display: block;
    padding-bottom: 10px;
}

#projects {
    max-width: 1000px;

    .logo {
        width: 30px;
        height: 30px;
    }

    h2 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    a {
        text-decoration: none;
        color: var(--primary-text-color);
        border-radius: 8px;
    }

    a:hover {
        background-color: var(--tertiary-background-color);
    }

    .tech-stack {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 800px) {
            flex-direction: column;
        }
        
        > .filler {
            flex-grow: 1;
        }

        > *:not(.filler) {
            padding: 10px 20px;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}

#projects > .column > :nth-child(3n+4) {
    margin-top: 80px;
}

#project1 {
    flex: 0.3;
}

.container {
    --radius: 25px;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 10px 60px 50px 60px;

    .content {
        opacity: 0;
        border: none;
        object-fit: cover;
        max-width: 100%;
        max-height: 80vh;
        border-radius: var(--radius);
    }

    .content:first-child {
        position: relative;
    }
    
    .content:not(:first-child) {
        position: absolute;
    }

    .arrow {
        width: 40px;
        aspect-ratio: 1/1;
        position: absolute;
        top: calc(50% - 40px);
        cursor: pointer;
        
        img {
            border-radius: 50%;
            width: 100%;
        }
    }

    .left-arrow {
        left: -50px;
    }

    .right-arrow {
        right: -50px;
    }

    .arrow:hover * {
        background-color: var(--accent-color);
    }
    .dots {
        display: flex;
        justify-content: center;
        gap: 10px;
        position: absolute;
        bottom: -50px;
        width: 100%;
        padding: 20px 0;

        .dot {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: var(--secondary-background-color);
            transition: all 200ms ease-in-out;
        }
        
        .active {
            background-color: var(--primary-text-color);
        }

        .dot:hover {
            cursor: pointer;
            background-color: var(--accent-color);
        }
    }
}